body {
	margin: 0px;
}

body > header {
	background: #F8B000;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#searchForm {
	margin-top: 1em;
}

#SearchResults {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.result{
	width: 20em;
	background: rgba(0,0,0,0.1);
	padding: 1em;
	margin: 1em;
	font-family: sans-serif;
}

.none {
	display: none !important;
}