body {
	margin: 0px;
	font-family: sans-serif;
}

body > header {
	background: #333;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#searchForm {
	padding: 1em;
	text-align: center;
	background: #F8B000;
}

#searchForm input,select {
	padding-left: 11.2px;
    border: 1px solid #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 44px;
    color: #3888C5;
	margin-bottom: 1em;
}

#SearchResults {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.result{
	width: max-content;
	background: rgba(0,0,0,0.1);
	padding: 1em;
	margin: 1em;
	text-align: center;
	font-family: sans-serif;
	animation: flyIn 1s;
}

@keyframes flyIn {
	from {transform: scale(0); opacity: 0;;},
	to {transform: scale(1); opacity: 1;}
}

.result > img {
	max-width: 100%
}

.none {
	display: none !important;
}