body {
	background-image: url(img/back.jpg);
	background-attachment: fixed;
	background-size: cover;
	
}

#searchForm {
	text-align: center;
}

#SearchResults {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.result{
	width: 20em;
	background: rgba(0,0,0,0.1);
	padding: 1em;
	margin: 1em;
	font-family: sans-serif;
}

.none {
	display: none !important;
}